# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.wandb

# Virtual environments
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter
.ipynb_checkpoints/
#*.ipynb

# Models 
adapters/*
checkpoints/*
convert_model_to_gguf/merged_models/*
!convert_model_to_gguf/merged_models/.gitkeep
!adapters/.gitkeep
!checkpoints/.gitkeep
results/*
training/wandb/*
training/unsloth_compiled_cache/*
